{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container">
  <div id="signupForm">
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    <p>(<span class="required">*</span>) Required</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            {{ form.email|as_crispy_field }}
          </div>
          <div class="col-md-6">
            {{ form.username|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ form.first_name|as_crispy_field }}
          </div>
          <div class="col-md-6">
            {{ form.last_name|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ form.date_of_birth|as_crispy_field }}
          </div>
          <div class="col-md-6">
            {{ form.address_line_1|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ form.address_line_2|as_crispy_field }}
          </div>
          <div class="col-md-6">
            {{ form.address_line_3|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ form.phone_number|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ form.password1|as_crispy_field }}
          </div>
          <div class="col-md-6">
            {{ form.password2|as_crispy_field }}
          </div>
        </div>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>
{% endblock content %}
