{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mb-4 align-items-center" id="strapLine">
        <div class="col-auto">
            <!-- Previous Week Button -->
            <a href="{% url 'calendar_view' prev_year prev_month prev_day %}" class="btn btn-primary">&larr;</a>
        </div>
        <div class="col text-center">
            <!-- Current Week Display -->
            <h2>Appointments for {{ current_week }}</h2>
        </div>
        <div class="col-auto">
            <!-- Next Week Button -->
            <a href="{% url 'calendar_view' next_year next_month next_day %}" class="btn btn-primary">&rarr;</a>
        </div>
    </div>

    <div class="calendar">
        <div class="row">
            {% for day in week_data %}
            <div class="col calendar-day">
                <div class="day-number">
                    <span class="{% if day.date == today %} today {% endif %}">
                        {{ day.date.day }}
                    </span>
                    <span> 
                        {{ day.date|date:"D" }} 
                    </span>
                </div>
                <ul class="time-slots">
                    {% for slot in day.slots %}
                    <li class="{% if slot.booked or day.is_weekend %} booked {% else %} available {% endif %}">
                        {{ slot.time }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Button to go to the Current Week -->
    {% if show_current_week_button %}
    <div class="container">
        <div class="row mt-4">
            <div class="col text-center">
                <a href="{% url 'calendar_view' today.year today.month today.day %}" class="btn btn-link">Current Week</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}