{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="container">
        <div class="row mb-4 align-items-center" id="strapLine">
            <div class="col-auto">
                <!-- Previous Week Button -->
                <a href="{% url 'calendar_view' prev_year prev_month prev_day %}" class="btn btn-primary" data-bs-toggle="tooltip" title="Go to previous week"><i class="fa-solid fa-angles-left"></i></a>
            </div>
            <div class="col text-center">
                <!-- Current Week Display -->
                <h2>Appointments for {{ current_week }}</h2>
            </div>
            {% if show_current_week_button %}
            <div class="col-auto">
                <!-- Current Week Button -->
                <a href="{% url 'calendar_view' today.year today.month today.day %}" class="btn btn-primary" data-bs-toggle="tooltip" title="Go to current week"><i class="fa-solid fa-arrows-to-circle"></i></i></a>
            </div>
            {% endif %}
            <div class="col-auto">
                <!-- Next Week Button -->
                <a href="{% url 'calendar_view' next_year next_month next_day %}" class="btn btn-primary" data-bs-toggle="tooltip" title="Go to next week"><i class="fa-solid fa-angles-right"></i></a>
            </div>
        </div>

        {% if not user.is_authenticated %}
        <div class="alert alert-secondary text-center" role="alert">
            To use our booking system, please <a href="{% url 'account_login' %}" class="alert-link">Login</a> or <a href="{% url 'account_signup' %}" class="alert-link">Register</a> for an account.
        </div>
        {% endif %}

        <div class="calendar">
            <div class="row">
                {% for day in week_data %}
                <div class="col calendar-day">
                    <div class="day-number">
                        <span class="{% if day.date == today %} today {% endif %}">
                            &nbsp; {{ day.date.day }}
                        </span>
                        <span>
                            &nbsp;  {{ day.date|date:"D" }}
                        </span>
                    </div>
                    <ul class="time-slots list-unstyled row">
                        {% for slot in day.slots %}
                        <li class="col">
                            <button type="button" class="btn {% if slot.booked or day.is_weekend %} btn-secondary {% else %} btn-primary {% endif %}"
                                {% if slot.booked or day.is_weekend or not user.is_authenticated %} disabled {% endif %}
                                data-date="{{ day.date|date:'Y-m-d' }}"
                                data-time="{{ slot.time }}"
                                data-bs-toggle="modal"
                                data-bs-target="#serviceModal">
                                {{ slot.time }}
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="serviceModalLabel">Appointment</h5> <!-- Title populated by JS -->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="bookingForm" method="post" action="{% url 'book_appointment' %}">
              {% csrf_token %}
              <div class="modal-body">
                  <div class="mb-3">
                      <input type="hidden" name="date" id="modalDate">
                      <input type="hidden" name="time_slot" id="modalTimeSlot">
                      <label for="serviceSelect" class="form-label">Treatment type</label>
                      <select id="serviceSelect" name="service" class="form-select" required>
                          <option value="" disabled selected>Select one</option>
                          {% for service in services %}
                          <option value="{{ service.id }}">{{ service.name }}</option>
                          {% endfor %}
                      </select>
                  </div>
              </div>
              <div class="col-6 mx-auto my-4">
                  <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-lg btn-primary" data-bs-target="#serviceModal">Book</button>
              </div>
          </form>
      </div>
  </div>
</div>
  
{% endblock %}

{% block extras %}
<script src="{% static 'js/appointment.js' %}"></script>
{% endblock %}