/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Asterisk wildcard selector to override default broswer's style */
* {
    padding: 0;
    margin: 0;
    /* include padding and border in an element's total width and height */
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #000000;
    list-style-position: inside;
    line-height: normal;
}
/* Header */
header {
    padding: 20px 15px;
    position: fixed;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

header a,
header a:visited {
    text-decoration: none;
    color: inherit;
}

/* Logo */
#logo-area>a>img {
    height: 48px;
}

#logo-area a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#catchword {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.85rem;
}

#infinita-perfectio,
#specialized-dentistry {
    font-family: 'Anek Latin', sans-serif;
    font-size: 0.9rem;
}

#infinita-perfectio {
    text-transform: uppercase;
    font-size: 1.24rem;
    font-weight: bold;
}

/* Navigation Menu */
header>nav {
    line-height: 2.2rem;
    font-size: 1rem;
    text-align: right;
    position: absolute;
    width: 75%;
    top: 100%;
    right: 0;
    padding: 20px;
    display: none;
    background-color: #FFFFFF;
}

header>nav>ul {
    list-style-type: none;

}

#nav-wrapper i {
    padding-left: 15px;
}

/* Navigation Toggle  */
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    /* Burger icon */
    font-size: 16px;
}

#nav-toggle:checked~nav {
    display: block;
    min-height: 100vh;
}

/* Main */
main {
    margin-top: 88px;
    flex-grow: 1;
    padding: 5px;
    line-height: 1.8;
}

/* Functional styles */
.margin-top-25 {
    margin-top: 25px;
}

.margin-left-10 {
    margin-left: 10px;
}

.no-decoration {
    text-decoration: none;
}

.hidden-heading {
    display: none;
}

/* Section */
section {
    padding: 10px;
}

/* Artcile */
article ul {
    padding-left: 25px;
}

/* Form */
#emailConfirm {
    margin: 20px auto;
    max-width: 425px;
}

#emailAddresses {
    margin: 5px auto;
    max-width: 800px;
}

#loginForm {
    margin: 20px auto;
    max-width: 455px;
}

#logoutForm {
    margin: 25px auto;
    max-width: 290px;
}

#passwordResetDone {
    margin: 15px auto;
    max-width: 470px;
}

#passwordResetFromKey {
    margin: 15px auto;
    max-width: 430px;
}

#resetPassForm {
    margin:15px auto;
    max-width: 400px;
}

#signupForm {
    margin: 0 auto;
    max-width: 775px;
}

#veryficationSent {
    margin: 10px auto;
    max-width: 665px;
}

.btn-primary {
    border: none;
    display: block;
    float: right;
    padding: 10px 30px;
    background-color: rgb(73, 135, 155);
    box-shadow: 2px 2px 7px 1px #9e9e9e;
    font-size: 1em;
    margin: 20px;
    color: white;
    letter-spacing: .2em;
}

.btn-primary:active,
.btn-primary:focus, 
.btn-primary:focus-visible {
    background-color: rgb(74 136 156);
    border-color: rgb(74 136 156);
    box-shadow: none;
}

.btn-primary:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 2px 5px 8px;
    transform: scale(1);
    background-color: rgb(50, 123, 148);
}

.required {
    font-weight: bolder;
    color: red;
}

.bg-info {
    background-color: #3291a4 !important;
}

/* Toast */
.toast-container { 
    /* Position above the footer */ 
    display: block;
    position: fixed; 
    bottom: 200px; 
    right: 5px; 
    max-width: 95%;
    /* Appears above other content */ 
    z-index: 100; 
} 
    
.toast { 
    /* Space between stacked toasts */ 
    margin-bottom: 10px; 
}

/* Footer */
#footer-wrapper {
    font-family: 'Anek Latin', sans-serif;
    margin: 15px 0 0;
    padding: 35px 0 45px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-size: 16px;
    background-color: #F5F5F5;
}

#footer-wrapper a {
    color: inherit;
    text-decoration: none;
}

#footer-wrapper li:nth-child(2) {
    /* Facebook icon */
    font-size: 18px;
}

#footer-wrapper li:nth-child(3) {
    /* Whatsapp icon */
    font-size: 21px;
}

#openingHours .dropdown-menu { 
    width: 300px; /* Adjust the width */ 
    min-height: 100%; /* Adjust the maximum height */
    padding: 30px;
    box-shadow: none;
} 

#openingHours .btn:focus { 
    box-shadow: none;
} 

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        padding: 30px 40px;
    }

    /* Navigation Menu */
    header>nav {
        font-size: 1.6rem;
        line-height: 4rem;
    }

    #logo-area>a>img {
        height: 65px;
    }

    #specialized-dentistry {
        font-size: 1.4rem;
    }

    #infinita-perfectio {
        font-size: 1.74rem;
    }

    .nav-toggle-label {
        /* Burger icon */
        font-size: 19px;
    }

    /* Main */
    main {
        margin-top: 125px;
        padding: 10px 25px;
    }

    /* Section */
    section {
        padding: 15px;
    }

    /* Form */
    #loginForm {
        margin: 0 auto;
    }

     /* Toast */   
    .toast-container { 
        bottom: 140px; 
        right: 40px;
    } 

    /* Footer */
    #footer-wrapper {
        font-size: 19px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #footer-wrapper>li:nth-child(2) {
        /* Facebook icon */
        font-size: 21px;
    }

    #footer-wrapper>li:nth-child(3) {
        /* Whatsapp icon */
        font-size: 24px;
    }
}

/* Media query: large screens (1200px and up) */
@media screen and (min-width: 1200px) {

    /* Header */
    header {
        padding: 20px 80px;
    }

    #logo-area>a>img {
        height: 65px;
    }

    /* Navigation Menu */
    header nav {
        display: block;
        position: relative;
        width: fit-content;
        font-size: 1.25rem;
    }

    header>nav>ul>li>a:hover {
        text-decoration: underline;
    }

    #nav-wrapper {
        display: flex;
        gap: 2rem;
    }

    #nav-wrapper i {
        display: none;
    }

    .nav-toggle-label {
        display: none;
    }

    .active {
        font-weight: 700;
    }

    main {
        margin-top: 144px;
        padding: 10px 100px;
    }

    /* Article */
    article {
        column-count: 2;
        column-gap: 80px;
    }

    /* Form */
    #myform input[type=submit]:hover {
        box-shadow: rgba(0, 0, 0, 0.45) 2px 5px 8px;
        transform: scale(1);
        background-color: rgb(50, 123, 148);
    }

    #myform input[type=submit]:active {
        transform: scale(0.95);
    }

}

/* Footer  */
#footer-wrapper {
    font-size: 20px;
}

#footer-wrapper a:hover {
    text-decoration: underline;
}