{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta tags for search engines -->
    <meta name="description"
        content="Specialized and comprehensive dental care. Book an appointment with us. Quality assurance guaranteed.">
    <meta name="keywords"
        content="dental, dental implants, appointment, booking, schedule, dental care, dental tourism, medical tourism, dentistry, Poland, Krakow">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
        crossorigin="anonymous">
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Title -->
    <title>Infinita Perfectio</title>

</head>

<body>
    <!-- Header -->
    <header>
        <div id="logo-area">
            <a href="#" aria-label="Open landing page">
                <img src="{% static 'images/infinita-perfectio-logo.webp' %}"
                    alt="Infinita Perfectio Logo - avigation to landing page">
                <div id="catchword">
                    <div id="infinita-perfectio">Infinita Perfectio</div>
                    <div id="specialized-dentistry">Specialized Dentistry</div>
                </div>
            </a>
        </div>

        <!-- Navigation menu -->
        <input type="checkbox" class="nav-toggle" id="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label" aria-label="Open website navigation menu">
            <i class="fa-sharp fa-solid fa-bars"></i>
        </label>
        <nav>
            <ul id="nav-wrapper">
                {% if user.is_authenticated %}
                <li>
                    <a href="#" aria-label="Open my details page">My details</a>
                </li>
                <li>
                    <a href="#" aria-label="Open my appointments page">My appointments</a>
                </li>
                <li>
                    <a href="{% url 'account_logout' %}" aria-label="Log off link">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'account_login' %}" aria-label="Log in link">Login</a>
                </li>
                <li>
                    <a href="{% url 'account_signup' %}" aria-label="Open register page">Register</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <!-- Main content -->
    <main>
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
    
    <!-- Toast Container --> 
    <div class="toast-container"> 
        {% for message in messages %} 
        <div class="toast show align-items-center text-white {{ message.tags }} border-0" role="alert" aria-live="assertive" aria-atomic="true"> 
            <div class="d-flex">
                <div class="toast-body"> {{ message|safe }} </div> 
                <button type="button" class="btn-close btn-close-white me-2 m-auto"data-bs-dismiss="toast" aria-label="Close"></button> 
            </div> 
        </div> 
        {% endfor %} 
    </div>
    </main>

    <!-- Footer -->
    <footer>
        <ul id="footer-wrapper">
            <li>
                <a href="https://www.facebook.com/StomatologiaSpecjalistycznaPawelZimny/" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://wa.me/+353860739220" target="_blank" rel="noopener" aria-label="Chat on WhatsApp">
                    <i class="fa-brands fa-whatsapp fa-shake"></i>
                </a>
            </li>
            <li> 
                <div class="container" id="openingHours"> 
                    <div class="btn-group dropup"> 
                        <a href="#"class="btn btn-link fs-5 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Opening hours link">Opening Hours</a> 
                        <ul class="dropdown-menu mb-3 shadow bg-light"> 
                            <div class="d-flex justify-content-end mb-4">
                                <button type="button" class="btn-close end" aria-label="Close"></button>
                            </div>
                            <div class="container"> 
                                <div class="row"> 
                                    <div class="col-6"><strong>Monday:</strong></div> 
                                    <div class="col-6 text-end"> 10 AM - 06 PM </div> 
                                </div> 
                                <div class="row mt-4"> 
                                    <div class="col-6"> <strong>Tuesday:</strong> </div> 
                                    <div class="col-6 text-end"> 10 AM - 06 PM </div> 
                                </div> 
                                <div class="row mt-4"> 
                                    <div class="col-6"> <strong>Wednesday:</strong> </div> 
                                    <div class="col-6 text-end"> 10 AM - 06 PM</div> 
                                </div> 
                                <div class="row mt-4"> 
                                    <div class="col-6"> <strong>Thursday:</strong> </div> 
                                    <div class="col-6 text-end">10 AM - 06 PM </div> 
                                </div> 
                                <div class="row mt-4"> 
                                    <div class="col-6"> <strong>Friday:</strong> </div> 
                                    <div class="col-6 text-end"> 10 AM - 06 PM </div> 
                                </div> 
                                <div class="row mt-4"> 
                                    <div class="col-6"> <strong>Saturday:</strong> </div> 
                                    <div class="col-6 text-end"> Closed </div> 
                                </div> 
                                <div class="row mt-4"> 
                                    <div class="col-6"> <strong>Sunday:</strong> </div> 
                                    <div class="col-6 text-end"> Closed </div> 
                                </div> 
                            </div> 
                        </ul> 
                    </div> 
                </div> 
            </li>
            
        </ul>
    </footer>

    <!-- Font Awesome Kit -->
    <script src="https://kit.fontawesome.com/a19af9adce.js" crossorigin="anonymous"></script>

    <!-- Bootstrap JS  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
        crossorigin="anonymous">
    </script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

{% block toast %}
<script src="{% static 'js/toast.js' %}"></script>
{% endblock %}

{% block extras %}
{% endblock %}

</body>

</html>